.loader-wrapper {
    gap: 12.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.loader-wrapper .loader-square {
    width: 85.41px;
    height: 85.41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper .loader {
    border: 8.54px solid var(--loading-non-fill); /* Light grey */
    border-top: 8.54px solid var(--loading-fill); /* Blue */
    border-right: 8.54px solid var(--loading-fill); 
    border-radius: 50%;
    width: 45.52px;
    height: 45.52px;
    animation: spin 2s linear infinite;
}

.loader-wrapper span {
    font-size: var(--font-size-medium);
}